.khung{
	margin: 0 auto;
	max-width: 100%;
	height: 5000px;
	background: white;
}
header{
  background-color: pink;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: orange;
  font-style: italic;

}
h1{
	text-align: center;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
<style>
	            body {

	                -webkit-touch-callout: none;
	                -webkit-user-select: none;
	                -khtml-user-select: none;
	                -moz-user-select: none;
	                -ms-user-select: none;
	                user-select: none;
	            }
	        </style>
	    
	    <!--version 4.2 -->

	    





	    
	    
	    <script type="text/javascript">

	        function ip_common_function() {
	                var data = {
	                'action': 'my_action',
	                'ipaddress': '116.110.66.20',
	                'date': 'October 12, 2020, 9:32 am',
	                'userid': '',
	                'whichpage': 'https://clinic.ghouse.com.vn/'

	            };
	            // We can also pass the url value separately from ajaxurl for front end AJAX implementations
	            jQuery.post('https://clinic.ghouse.com.vn/wp-admin/admin-ajax.php', data, function (response) {
	                //alert('Got this from the server: ' + response);
	            });
	        }
	        ;


	        document.onkeypress = function (event) {
	            event = (event || window.event);
	            if (event.keyCode === 123) {
	                //alert('No F-12');
	                return false;
	            }
	        };
	        document.onmousedown = function (event) {
	            event = (event || window.event);
	            if (event.keyCode === 123) {
	                //alert('No F-keys');
	                return false;
	            }
	        };
	        document.onkeydown = function (event) {
	            event = (event || window.event);
	            if (event.keyCode === 123) {
	                //alert('No F-keys');
	                return false;
	            }
	        };
	        function contentprotector() {
	            return false; //initialize the function return false
	        }
	        function contentprotectors() {
	            return false; //initialize the function return false
	        }
	                document.oncontextmenu = contentprotector; //calling the false function in contextmenu
	            //document.onmouseup = contentprotector; //calling the false function in mouseup event
	        var isCtrl = false;
	        var isAlt = false;
	        var isCmd = false;
	        var isShift = false;
	        var isPrint = false;
	        window.onkeyup = function (e)
	        {
	            if (e.which === 17)
	                isCtrl = false; // make the condition when ctrl key is pressed no action has performed.
	    
	            if ((e.which === 93) || (e.which === 91) || (e.which === 224))
	                isCmd = false; // make the condition when ctrl key is pressed no action has performed.
	        }
	        ;
	        window.onkeydown = function (e)
	        {
	            if (e.which === 17)
	                isCtrl = true; //if onkeydown event is triggered then ctrl with possible copying keys are disabled.


	                        if ((e.which === 85) && (isCtrl === true)) {
	                                    return false;
	                    }
	                                if ((e.which === 80) && (isCtrl === true)) {
	                                    return false;
	                    }
	                                if ((e.which === 65) && (isCtrl === true)) {
	                                    return false;
	                    }
	                                if ((e.which === 88) && (isCtrl === true)) {
	                                    return false;
	                    }
	                                if ((e.which === 67) && (isCtrl === true)) {
	                                    return false;
	                    }
	                                if ((e.which === 86) && (isCtrl === true)) {
	                                    return false;
	                    }
	                                if ((e.which === 83) && (isCtrl === true)) {
	                                    return false;
	                    }
	            

	            if (e.which === 16) {
	                isShift = true;
	            }
	                    if (isCtrl === true && isShift === true && e.which === 73) { // for ctlr+shift+i key combination in Windows
	                    return false;
	                }
	    
	            if ((e.which === 93) || (e.which === 91) || (e.which === 224))
	                isCmd = true; //if onkeydown event is triggered then ctrl with possible copying ke
	    //
	    //ys are disabled.

	                        if ((e.which === 85) && (isCmd === true)) {
	                                                return false;
	                    }
	                                if ((e.which === 80) && (isCmd === true)) {
	                                                return false;
	                    }
	                                if ((e.which === 65) && (isCmd === true)) {
	                        return false;
	                    }
	                                if ((e.which === 88) && (isCmd === true)) {
	                                                return false;
	                    }
	                                if ((e.which === 67) && (isCmd === true)) {
	                                                return false;
	                    }
	                                if ((e.which === 86) && (isCmd === true)) {
	                        
	return false;
	                    }
	                                if ((e.which === 83) && (isCmd === true)) {
	                                                return false;
	                    }
	            


	            if (e.which === 18) {
	                isAlt = true;
	            }
	                    if (isCmd === true && isAlt === true && e.which === 73) { // for cmd+alt+i key combination in mac
	                    return false;
	                }
	    

	    // Mac OS Print screen function

	                    if (isCmd === true && isShift === true && e.which === 51) { // for cmd+shift+3 key combination in mac
	                    //alert('clicked');
	                    return false;

	                }
	                        if (isCmd === true && isShift === true && e.which === 52) { // for cmd+shift+4 key combination in mac
	                    //alert('clicked');
	                    return false;
	                }
	        
	                if (isCmd === true && isCtrl === true && isShift === true && e.which === 51) {// for Cmd+Ctrl+Shift+3 key combination in mac
	                    //alert('clicked');
	                    return false;

	                }
	                        if (isCmd === true && isShift === true && e.which === 52 && e.which === 32) {// for Cmd+Shift+4+hit Space bar combination in mac
	                    //alert('clicked');
	                    return false;
	                }
	    
	    // End of Mac OS Printscreen

	        };
	        isCtrl = false;
	        isCmd = false;
	                document.ondragstart = contentprotector; // Dragging for Image is also Disabled(By Making Condition as false)
	    
	    </script>
	            <script type="text/javascript">

	            jQuery(document).ready(function ($) {
	                jQuery("a").each(function (i, el) {
	                    var href_value = el.href;
	                    if (/\.(jpg|png|gif)$/.test(href_value)) {
	                        jQuery(this).prop('href', '#');
	                    }


	                });


	            });</script>